<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderCompositeIndex</key>
	<string>interactiveModelTheme</string>
	<key>gateFrameworkDirection</key>
	<string>utilPerShape</string>
	<key>grainAndVariable</key>
	<string>labelLevelDensity</string>
	<key>inactiveStatelessEdge</key>
	<string>explicitDescriptionLeft</string>
	<key>independentSegueDelay</key>
	<string>inheritedResourceVelocity</string>
	<key>methodThanParam</key>
	<string>normProxySaturation</string>
	<key>pivotalLabelVisibility</key>
	<string>pinchableFeatureSaturation</string>
	<key>requestNearChain</key>
	<string>geometricPaddingDirection</string>
	<key>resultMementoDepth</key>
	<string>touchThroughBridge</string>
	<key>viewParameterStyle</key>
	<string>channelUntilTask</string>
</dict>
</plist>
