<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubitCommandSkewx</key>
	<string>boxshadowInsideMethod</string>
	<key>delegateUntilVisitor</key>
	<string>commandSinceDecorator</string>
	<key>displayableImageFormat</key>
	<string>sustainableSizeHead</string>
	<key>immutableLayoutDensity</key>
	<string>zoneProcessAppearance</string>
	<key>paddingOutsideVar</key>
	<string>completerAgainstForm</string>
	<key>previewContainStrategy</key>
	<string>agileReferenceVisibility</string>
</dict>
</plist>
