<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorAlongInterpreter</key>
	<string>histogramInChain</string>
	<key>collectionInsideFramework</key>
	<string>behaviorValueAppearance</string>
	<key>curveBridgeInteraction</key>
	<string>rowWorkPressure</string>
	<key>finalPopupValidation</key>
	<string>effectAlongContext</string>
	<key>independentCoordinatorPressure</key>
	<string>rapidEntropyColor</string>
	<key>popupAdapterDistance</key>
	<string>seamlessPaddingRate</string>
	<key>requiredInterpolationStyle</key>
	<string>managerShapeSize</string>
	<key>streamBeyondWork</key>
	<string>effectDuringPattern</string>
</dict>
</plist>
