<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureContainPlatform</key>
	<string>seamlessEventTail</string>
	<key>histogramAdapterTag</key>
	<string>viewAsSingleton</string>
	<key>hyperbolicHashTop</key>
	<string>kernelInterpreterDensity</string>
	<key>hyperbolicSymbolDirection</key>
	<string>staticMenuBehavior</string>
	<key>managerBeyondStage</key>
	<string>transitionInForm</string>
	<key>profileFlyweightMargin</key>
	<string>aspectFlyweightLocation</string>
	<key>rapidHashSpeed</key>
	<string>sequentialRouterTension</string>
</dict>
</plist>
