<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileFeatureForce</key>
	<string>normalOffsetHue</string>
	<key>ignoredTransitionBorder</key>
	<string>materialInteractorFormat</string>
	<key>interactorKindScale</key>
	<string>pinchableAllocatorAlignment</string>
	<key>operationStructureLeft</key>
	<string>viewScopeSkewy</string>
	<key>sizedboxBufferCoord</key>
	<string>inactiveEntropyBottom</string>
	<key>smallColumnMomentum</key>
	<string>graphAndAction</string>
	<key>sustainableHeroOrientation</key>
	<string>cacheExceptActivity</string>
	<key>timerTempleFlags</key>
	<string>contractionWithoutProxy</string>
	<key>vectorTierFrequency</key>
	<string>kernelFrameworkVelocity</string>
</dict>
</plist>
