<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>callbackInSystem</key>
	<string>switchBesideValue</string>
	<key>capsuleSingletonDepth</key>
	<string>desktopSegueDirection</string>
	<key>channelFromChain</key>
	<string>borderWithParam</string>
	<key>delegateSinceFunction</key>
	<string>semanticsNumberAppearance</string>
	<key>exceptionKindInteraction</key>
	<string>accordionSinkColor</string>
	<key>hyperbolicClipperResponse</key>
	<string>sequentialIsolateOpacity</string>
	<key>iconAwayActivity</key>
	<string>roleDuringVariable</string>
	<key>isolatePerVariable</key>
	<string>normalGestureFrequency</string>
	<key>liteLabelDuration</key>
	<string>activatedLoopSize</string>
	<key>persistentNotifierInteraction</key>
	<string>concurrentModulusAlignment</string>
</dict>
</plist>
