<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bitrateAwaySystem</key>
	<string>declarativeHashDuration</string>
	<key>declarativePainterForce</key>
	<string>intermediateNormIndex</string>
	<key>directProviderTag</key>
	<string>groupAmongSystem</string>
	<key>exceptionSinceSystem</key>
	<string>significantAnimationForce</string>
	<key>graphInterpreterTop</key>
	<string>notifierLevelFeedback</string>
	<key>lostMapState</key>
	<string>accessibleOffsetInterval</string>
	<key>referenceViaStrategy</key>
	<string>gemDespiteStructure</string>
	<key>synchronousScaffoldBrightness</key>
	<string>handlerExceptPhase</string>
</dict>
</plist>
