<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveDelegateKind</key>
	<string>accordionAnimationOpacity</string>
	<key>commonEntityFrequency</key>
	<string>skinInMode</string>
	<key>gemBeyondComposite</key>
	<string>vectorInStyle</string>
	<key>imperativeChartOrientation</key>
	<string>newestSubpixelFlags</string>
	<key>mapChainHue</key>
	<string>ternaryValueFlags</string>
	<key>retainedMethodPadding</key>
	<string>standaloneMethodDensity</string>
	<key>symmetricFactorySaturation</key>
	<string>transformerAsStrategy</string>
</dict>
</plist>
