<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cacheAboutType</key>
	<string>metadataModeSpacing</string>
	<key>disabledTransitionInteraction</key>
	<string>permissiveNavigatorAppearance</string>
	<key>easyNotifierBottom</key>
	<string>composableInjectionRate</string>
	<key>equalizationFromWork</key>
	<string>streamFromChain</string>
	<key>inactiveQueueCoord</key>
	<string>accessibleFeatureFeedback</string>
	<key>kernelEnvironmentDistance</key>
	<string>enabledMusicInterval</string>
	<key>rectThroughTask</key>
	<string>tweenParamAcceleration</string>
	<key>resilientStampFlags</key>
	<string>labelNearChain</string>
	<key>streamAlongProcess</key>
	<string>singleDurationOrientation</string>
</dict>
</plist>
