<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterAsStructure</key>
	<string>resourceLikeComposite</string>
	<key>consultativeChartLocation</key>
	<string>heapAlongParam</string>
	<key>interfaceNumberDepth</key>
	<string>captionAwayVar</string>
	<key>multiCollectionShape</key>
	<string>durationStateHead</string>
	<key>plateBufferMomentum</key>
	<string>instructionContextDelay</string>
	<key>storageMethodBorder</key>
	<string>semanticLabelSpeed</string>
</dict>
</plist>
