<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentLikeInterpreter</key>
	<string>tweenStructureKind</string>
	<key>featurePrototypePosition</key>
	<string>grayscaleActivityHead</string>
	<key>fixedDelegateMode</key>
	<string>mainImageBottom</string>
	<key>giftNearShape</key>
	<string>denseModalName</string>
	<key>gridviewCompositeInset</key>
	<string>explicitProtocolAppearance</string>
	<key>modalDuringEnvironment</key>
	<string>criticalAccessoryScale</string>
	<key>positionedValueContrast</key>
	<string>variantProcessState</string>
	<key>storageBeyondForm</key>
	<string>streamThroughOperation</string>
	<key>transitionTempleValidation</key>
	<string>currentGridKind</string>
</dict>
</plist>
