<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>batchEnvironmentType</key>
	<string>utilTempleSize</string>
	<key>largeAnchorDistance</key>
	<string>tweenCommandAlignment</string>
	<key>lazyAspectratioAcceleration</key>
	<string>animatedRequestMode</string>
	<key>lazySwiftContrast</key>
	<string>nodeForJob</string>
	<key>mapLayerMode</key>
	<string>statefulViewTension</string>
	<key>permanentObserverLocation</key>
	<string>bufferVersusShape</string>
	<key>stateOfKind</key>
	<string>awaitAsPhase</string>
	<key>utilIncludeBuffer</key>
	<string>injectionChainType</string>
</dict>
</plist>
