<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>elasticGroupCount</key>
	<string>managerContextCount</string>
	<key>iterativeResourceDistance</key>
	<string>prismaticRouterInterval</string>
	<key>mainDescriptorOffset</key>
	<string>projectionShapeOpacity</string>
	<key>sensorDespiteFlyweight</key>
	<string>localizationOrMethod</string>
	<key>slashInsideState</key>
	<string>futureBeyondPrototype</string>
	<key>sustainableManagerForce</key>
	<string>directlyDescriptorVisibility</string>
	<key>titleDuringTier</key>
	<string>interpolationForPrototype</string>
</dict>
</plist>
