<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintProxyMode</key>
	<string>stateFromContext</string>
	<key>flexibleIsolateOrigin</key>
	<string>awaitWithStructure</string>
	<key>mediumAspectratioShade</key>
	<string>signatureAboutMode</string>
	<key>requestThanVar</key>
	<string>equalizationInsideParam</string>
	<key>responseOrFlyweight</key>
	<string>providerTaskLeft</string>
	<key>reusableServiceLocation</key>
	<string>drawerWorkOrientation</string>
	<key>utilObserverBehavior</key>
	<string>iconAlongBuffer</string>
</dict>
</plist>
