<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarActionDirection</key>
	<string>criticalOverlayAcceleration</string>
	<key>blocBufferHead</key>
	<string>titleCompositeStatus</string>
	<key>directlyMethodAppearance</key>
	<string>graphInBuffer</string>
	<key>newestProviderTail</key>
	<string>cartesianMenuFormat</string>
	<key>retainedSymbolMomentum</key>
	<string>serviceModeTension</string>
	<key>sensorNearComposite</key>
	<string>diffableSizeAlignment</string>
	<key>statefulBinaryTension</key>
	<string>delegateSinceStrategy</string>
	<key>storeBufferMomentum</key>
	<string>dedicatedSubscriptionDirection</string>
	<key>transitionParamTag</key>
	<string>criticalTextShape</string>
</dict>
</plist>
