<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>explicitPresenterBound</key>
	<string>durationMementoOrigin</string>
	<key>similarPaddingPosition</key>
	<string>indicatorWithSystem</string>
	<key>switchCommandTension</key>
	<string>consumerNearChain</string>
	<key>temporarySwitchResponse</key>
	<string>asyncVariableDelay</string>
</dict>
</plist>
