<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>displayableStreamHead</key>
	<string>sizedboxNumberRight</string>
	<key>granularSegmentPressure</key>
	<string>menuAndProcess</string>
	<key>layoutFrameworkInteraction</key>
	<string>usedSignatureOffset</string>
	<key>sliderDuringLevel</key>
	<string>composableStackTension</string>
</dict>
</plist>
