<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cacheFrameworkShade</key>
	<string>flexForFunction</string>
	<key>canvasThanSingleton</key>
	<string>expandedInsideNumber</string>
	<key>priorControllerInset</key>
	<string>titleBeyondPhase</string>
	<key>textfieldFlyweightHue</key>
	<string>zoneEnvironmentVisible</string>
	<key>workflowObserverColor</key>
	<string>gestureStructureFormat</string>
</dict>
</plist>
