<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetAmongForm</key>
	<string>groupWithoutInterpreter</string>
	<key>criticalGesturedetectorInterval</key>
	<string>convolutionExceptParameter</string>
	<key>disparateCoordinatorValidation</key>
	<string>keyCommandDirection</string>
	<key>durationProxyPadding</key>
	<string>cubitShapeVelocity</string>
	<key>gemPlatformIndex</key>
	<string>compositionCycleOffset</string>
	<key>sinkContainKind</key>
	<string>queueSystemRight</string>
	<key>textNearSingleton</key>
	<string>mapInsideFunction</string>
</dict>
</plist>
