<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleMomentumLeft</key>
	<string>scrollCycleTint</string>
	<key>agileObserverAppearance</key>
	<string>sinkPatternTail</string>
	<key>associatedDescriptionMode</key>
	<string>roleTempleDepth</string>
	<key>numericalMemberMargin</key>
	<string>lazyInteractorResponse</string>
</dict>
</plist>
