<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comprehensiveCompleterBorder</key>
	<string>temporarySubpixelFlags</string>
	<key>effectDespiteMethod</key>
	<string>stateIncludeMediator</string>
	<key>globalDescriptionBottom</key>
	<string>substantialVectorAlignment</string>
	<key>ignoredResourceVisibility</key>
	<string>assetDespiteLayer</string>
	<key>interactorFormResponse</key>
	<string>buttonProxySize</string>
	<key>missionWithoutScope</key>
	<string>tabviewAroundFacade</string>
	<key>resilientListviewStyle</key>
	<string>entityOrState</string>
	<key>sinkTypeSkewx</key>
	<string>documentMediatorStatus</string>
</dict>
</plist>
