<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorCommandForce</key>
	<string>stampActivityTail</string>
	<key>sizeAndKind</key>
	<string>heapStageHead</string>
	<key>unactivatedSymbolBound</key>
	<string>resolverScopePosition</string>
</dict>
</plist>
