<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureAboutMethod</key>
	<string>collectionByKind</string>
	<key>compositionalTopicSkewx</key>
	<string>multiplicationUntilDecorator</string>
	<key>customizedGiftFeedback</key>
	<string>streamNumberOrigin</string>
	<key>equipmentSinceFacade</key>
	<string>reactiveBatchVisible</string>
	<key>metadataCommandFlags</key>
	<string>durationAlongShape</string>
	<key>normSystemTag</key>
	<string>usedTickerCount</string>
	<key>sharedAnchorAlignment</key>
	<string>exponentByObserver</string>
	<key>statefulActionPosition</key>
	<string>curveInFunction</string>
	<key>ternaryAlongMethod</key>
	<string>layerStateContrast</string>
</dict>
</plist>
