<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessorySinceMediator</key>
	<string>columnPlatformTint</string>
	<key>arithmeticSessionSaturation</key>
	<string>ignoredPresenterForce</string>
	<key>getxDuringTier</key>
	<string>animationStrategyShape</string>
	<key>injectionIncludeScope</key>
	<string>sortedTextSpeed</string>
	<key>modelProcessDepth</key>
	<string>listviewFromObserver</string>
	<key>newestDependencyTheme</key>
	<string>plateAgainstParam</string>
	<key>permanentSubscriptionInset</key>
	<string>unactivatedHeroHue</string>
	<key>significantNormName</key>
	<string>modelMediatorDirection</string>
	<key>titleStateSkewx</key>
	<string>nativeMarginPadding</string>
	<key>zonePerNumber</key>
	<string>skirtLikeContext</string>
</dict>
</plist>
