<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>directlyPlateOrigin</key>
	<string>constAlignmentBottom</string>
	<key>interpolationOfProxy</key>
	<string>invisibleIntensitySkewy</string>
	<key>numericalDurationStatus</key>
	<string>denseChapterDuration</string>
	<key>progressbarVariableStyle</key>
	<string>touchFromObserver</string>
	<key>symmetricAccessoryCount</key>
	<string>projectActivityLocation</string>
	<key>textureIncludeVisitor</key>
	<string>exceptionSinceParam</string>
</dict>
</plist>
