<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncFormDepth</key>
	<string>memberOutsideVisitor</string>
	<key>binaryFlyweightBottom</key>
	<string>seamlessTransformerEdge</string>
	<key>commandVisitorDirection</key>
	<string>marginFrameworkContrast</string>
	<key>coordinatorOfFacade</key>
	<string>loopAgainstState</string>
	<key>customizedUnaryHue</key>
	<string>significantClipperRate</string>
	<key>giftFormScale</key>
	<string>storeThanAction</string>
	<key>greatResourceDistance</key>
	<string>scrollAtWork</string>
	<key>isolateFormIndex</key>
	<string>sceneObserverState</string>
	<key>momentumInCommand</key>
	<string>sizeBufferMode</string>
</dict>
</plist>
