<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>iterativeCompositionInset</key>
	<string>firstTextStatus</string>
	<key>layoutWithObserver</key>
	<string>retainedTransformerTop</string>
	<key>liteResolverAcceleration</key>
	<string>roleWithTier</string>
	<key>symbolStrategyTop</key>
	<string>animationDuringTask</string>
</dict>
</plist>
