<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cellCompositeCenter</key>
	<string>descriptorVersusMode</string>
	<key>consumerStructureOpacity</key>
	<string>factoryExceptShape</string>
	<key>metadataBesideMode</key>
	<string>animationAsTemple</string>
	<key>mutableInteractorShape</key>
	<string>tabbarNearBuffer</string>
	<key>stackOutsideWork</key>
	<string>listenerTierForce</string>
	<key>usecaseDuringInterpreter</key>
	<string>histogramBridgeContrast</string>
</dict>
</plist>
