<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeSinkAppearance</key>
	<string>gridviewDuringSingleton</string>
	<key>inheritedAccessoryOrientation</key>
	<string>characterPhaseFlags</string>
	<key>isolateOfFacade</key>
	<string>tappableZoneInterval</string>
	<key>sustainableHeapBehavior</key>
	<string>arithmeticAlphaRight</string>
	<key>vectorFunctionSkewy</key>
	<string>nibAroundCommand</string>
	<key>workflowPhaseRotation</key>
	<string>metadataMediatorOpacity</string>
</dict>
</plist>
