<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>canvasMethodState</key>
	<string>segueVarSpacing</string>
	<key>capacitiesByOperation</key>
	<string>captionAndEnvironment</string>
	<key>displayableImagePressure</key>
	<string>desktopConfigurationDuration</string>
	<key>effectAroundValue</key>
	<string>collectionTempleTint</string>
	<key>indicatorCommandTag</key>
	<string>chapterContainCommand</string>
	<key>masterOrTier</key>
	<string>sequentialObserverTop</string>
	<key>primaryParticleContrast</key>
	<string>swiftOutsideAdapter</string>
	<key>providerWithFacade</key>
	<string>parallelKernelDelay</string>
</dict>
</plist>
