<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>discardedDialogsBottom</key>
	<string>intermediateBaselineTop</string>
	<key>groupFlyweightInset</key>
	<string>blocSystemDuration</string>
	<key>parallelImageOrigin</key>
	<string>graphInterpreterInteraction</string>
	<key>routeOrLevel</key>
	<string>delegateWithMethod</string>
	<key>sceneMementoState</key>
	<string>sustainableSizeTension</string>
</dict>
</plist>
