<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncCompositeLocation</key>
	<string>declarativeViewInterval</string>
	<key>canvasTempleBorder</key>
	<string>uniqueCheckboxDepth</string>
	<key>equipmentPatternValidation</key>
	<string>textureActionHead</string>
	<key>featureParameterPressure</key>
	<string>alphaInContext</string>
	<key>gestureTempleTag</key>
	<string>delicateSceneSpacing</string>
	<key>requestOutsideParam</key>
	<string>rapidSubpixelTheme</string>
</dict>
</plist>
