<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coordinatorJobCount</key>
	<string>lastHandlerOffset</string>
	<key>immediateIsolateOffset</key>
	<string>dynamicDropdownbuttonState</string>
	<key>menuOrCommand</key>
	<string>painterLayerColor</string>
	<key>methodInsideProxy</key>
	<string>signatureDespiteVisitor</string>
	<key>textureAtFunction</key>
	<string>screenStageInset</string>
</dict>
</plist>
