<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentDecoratorDensity</key>
	<string>axisAndNumber</string>
	<key>awaitByMode</key>
	<string>queuePrototypeShade</string>
	<key>builderPatternBound</key>
	<string>masterAroundMode</string>
	<key>cubitInFlyweight</key>
	<string>unsortedSizeContrast</string>
	<key>mediocreTransformerMomentum</key>
	<string>localizationVersusParam</string>
	<key>taskProxyTransparency</key>
	<string>iterativeDescriptionSpacing</string>
	<key>textfieldAndVar</key>
	<string>transformerVarDuration</string>
</dict>
</plist>
