<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderScopeTint</key>
	<string>bufferValueHue</string>
	<key>collectionAgainstValue</key>
	<string>stepSystemTop</string>
	<key>intermediateOperationTheme</key>
	<string>cubeOrParam</string>
	<key>significantProviderBottom</key>
	<string>sharedEffectType</string>
	<key>sliderShapeDelay</key>
	<string>timerSystemRight</string>
	<key>storeFromOperation</key>
	<string>usecaseAmongPrototype</string>
</dict>
</plist>
