<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bulletNumberHue</key>
	<string>accordionNotifierTint</string>
	<key>directlyColumnSkewx</key>
	<string>agileHistogramFlags</string>
	<key>disparateLoopSpacing</key>
	<string>bitrateInEnvironment</string>
	<key>factoryIncludeSingleton</key>
	<string>channelVersusScope</string>
	<key>frameForJob</key>
	<string>resilientCharacterCenter</string>
	<key>stampOutsidePattern</key>
	<string>playbackAtPrototype</string>
	<key>tappableExtensionTail</key>
	<string>screenInsideMode</string>
</dict>
</plist>
