<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cellWithOperation</key>
	<string>specifierWithStructure</string>
	<key>delicateTechniqueLocation</key>
	<string>sizeSinceMemento</string>
	<key>histogramThroughTask</key>
	<string>rapidVectorRate</string>
	<key>momentumSinceNumber</key>
	<string>usedDocumentCount</string>
	<key>resourceTypePadding</key>
	<string>normWorkVisible</string>
	<key>significantTechniqueName</key>
	<string>coordinatorMementoMomentum</string>
	<key>sortedExceptionPadding</key>
	<string>featureAboutProcess</string>
</dict>
</plist>
