<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedInteractorStyle</key>
	<string>hashSingletonVisible</string>
	<key>playbackMementoSkewx</key>
	<string>protocolStageMode</string>
	<key>singletonAmongInterpreter</key>
	<string>giftActivityFrequency</string>
	<key>tensorTitleRight</key>
	<string>sessionPerScope</string>
</dict>
</plist>
