<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completionIncludeStage</key>
	<string>radiusPerPlatform</string>
	<key>durationAroundPhase</key>
	<string>optionWithoutCycle</string>
	<key>exponentProcessDensity</key>
	<string>sizeThroughAction</string>
	<key>hyperbolicButtonMomentum</key>
	<string>groupSinceSingleton</string>
	<key>numericalHashTail</key>
	<string>catalystAndAdapter</string>
	<key>topicDecoratorBehavior</key>
	<string>cellExceptPattern</string>
</dict>
</plist>
