<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderContainTask</key>
	<string>commonSceneCenter</string>
	<key>callbackContainProcess</key>
	<string>storageOrAdapter</string>
	<key>delegateLayerAppearance</key>
	<string>priorityBeyondType</string>
	<key>labelAsLayer</key>
	<string>tangentVarSpacing</string>
	<key>mediaCompositeDelay</key>
	<string>declarativeCardBottom</string>
	<key>profileBesideTemple</key>
	<string>crudeAnimationMargin</string>
	<key>promiseInInterpreter</key>
	<string>chartDecoratorCoord</string>
	<key>vectorThroughJob</key>
	<string>reactiveFutureOpacity</string>
</dict>
</plist>
