<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocWorkKind</key>
	<string>normalNavigatorSkewx</string>
	<key>movementAndWork</key>
	<string>compositionalSkinSkewy</string>
	<key>relationalModalSaturation</key>
	<string>subsequentResponseDistance</string>
	<key>visibleTangentType</key>
	<string>memberActionPosition</string>
	<key>widgetProcessLocation</key>
	<string>navigatorObserverDensity</string>
</dict>
</plist>
