<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionParameterFlags</key>
	<string>robustBatchRate</string>
	<key>crucialTickerAlignment</key>
	<string>vectorModeTag</string>
	<key>exceptionOrMediator</key>
	<string>decorationVariableBorder</string>
	<key>injectionPerShape</key>
	<string>substantialGestureResponse</string>
	<key>intermediateDocumentState</key>
	<string>publicShaderBound</string>
	<key>oldTickerMode</key>
	<string>sizedboxParameterSkewx</string>
	<key>playbackAboutForm</key>
	<string>rowInsideMode</string>
	<key>sineFrameworkDirection</key>
	<string>titleAmongTask</string>
	<key>skinFormBehavior</key>
	<string>boxshadowAboutTier</string>
</dict>
</plist>
