<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>durationFromWork</key>
	<string>mediaKindHead</string>
	<key>equalizationThanLevel</key>
	<string>routerShapeShade</string>
	<key>hardSpriteFormat</key>
	<string>commonCallbackOpacity</string>
	<key>hyperbolicFlexMargin</key>
	<string>extensionStrategyFormat</string>
	<key>mediocreDescriptionLeft</key>
	<string>usedExponentDistance</string>
	<key>mobileTransitionName</key>
	<string>respectiveControllerMode</string>
	<key>rectJobForce</key>
	<string>sustainableRouteDistance</string>
	<key>robustAnimationPressure</key>
	<string>gridFunctionBound</string>
	<key>topicDuringVar</key>
	<string>subscriptionAroundForm</string>
	<key>zoneLevelSpacing</key>
	<string>diversifiedModalState</string>
</dict>
</plist>
