<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>heapBufferTail</key>
	<string>displayableBaselineSaturation</string>
	<key>scrollableDimensionLeft</key>
	<string>presenterObserverIndex</string>
	<key>shaderStyleLeft</key>
	<string>taskMediatorCoord</string>
	<key>significantConfigurationStatus</key>
	<string>agileSegueMomentum</string>
	<key>subtlePreviewCoord</key>
	<string>inkwellBridgeSkewx</string>
</dict>
</plist>
