<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>momentumStageCount</key>
	<string>sessionJobHead</string>
	<key>pageviewContextPosition</key>
	<string>sliderKindBorder</string>
	<key>publicPreviewCount</key>
	<string>normNumberSkewy</string>
	<key>radiusWithFramework</key>
	<string>optionExceptForm</string>
	<key>resolverCycleTheme</key>
	<string>protectedInterfaceForce</string>
	<key>slashVersusDecorator</key>
	<string>reductionInShape</string>
	<key>textViaCommand</key>
	<string>reducerDuringFunction</string>
	<key>uniqueIntensityPressure</key>
	<string>cursorAlongDecorator</string>
</dict>
</plist>
