<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frameProxyLeft</key>
	<string>durationAgainstPrototype</string>
	<key>interfaceViaFlyweight</key>
	<string>allocatorThroughAction</string>
	<key>opaqueStreamEdge</key>
	<string>subtleSubscriptionRate</string>
	<key>rectAboutVar</key>
	<string>independentBorderAcceleration</string>
	<key>resourceForType</key>
	<string>boxshadowUntilValue</string>
	<key>responseInsideOperation</key>
	<string>memberPatternBound</string>
	<key>scrollableSizeSpacing</key>
	<string>deferredProfileValidation</string>
	<key>smartEntropyAcceleration</key>
	<string>nodeOperationResponse</string>
	<key>taskAtObserver</key>
	<string>movementBridgeTop</string>
</dict>
</plist>
