<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncGramRight</key>
	<string>futureFromEnvironment</string>
	<key>autoChannelsDelay</key>
	<string>petWithoutComposite</string>
	<key>canvasProcessVisible</key>
	<string>delegateNearDecorator</string>
	<key>constraintAroundObserver</key>
	<string>serviceScopeMode</string>
	<key>flexFormDepth</key>
	<string>viewScopeVisibility</string>
	<key>marginJobMode</key>
	<string>animationJobKind</string>
	<key>permanentStoreBehavior</key>
	<string>gateStageIndex</string>
	<key>routeCommandTag</key>
	<string>previewThroughState</string>
	<key>tickerShapeDepth</key>
	<string>futureVariableType</string>
</dict>
</plist>
