<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axisFromInterpreter</key>
	<string>tickerVersusMediator</string>
	<key>boxThroughAction</key>
	<string>denseChapterLeft</string>
	<key>boxValueBottom</key>
	<string>builderStyleTint</string>
	<key>buttonInKind</key>
	<string>modulusLikeVisitor</string>
	<key>reusableSymbolShape</key>
	<string>streamAndParam</string>
	<key>sineOrCommand</key>
	<string>repositoryLevelDelay</string>
	<key>sizedboxWorkPressure</key>
	<string>equalizationDespiteVar</string>
</dict>
</plist>
