<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncParameterBehavior</key>
	<string>requiredOffsetVisible</string>
	<key>asyncSizePosition</key>
	<string>textOutsideVar</string>
	<key>isolateAdapterMomentum</key>
	<string>layoutModeInset</string>
	<key>methodCommandStyle</key>
	<string>opaqueScreenVisibility</string>
	<key>paddingProcessFormat</key>
	<string>tappableSpecifierSkewx</string>
	<key>queryMethodKind</key>
	<string>nibAmongDecorator</string>
	<key>reducerTempleInset</key>
	<string>awaitProxyLeft</string>
	<key>timerAtSystem</key>
	<string>animationPlatformInteraction</string>
</dict>
</plist>
