<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonStageName</key>
	<string>protectedUnaryTension</string>
	<key>canvasByMemento</key>
	<string>alignmentVariablePosition</string>
	<key>compositionIncludeFacade</key>
	<string>mobxAdapterShape</string>
	<key>curveAroundFlyweight</key>
	<string>blocMementoDuration</string>
	<key>imageInsideNumber</key>
	<string>multiplicationVisitorRate</string>
	<key>instructionFromStructure</key>
	<string>symbolPlatformDirection</string>
	<key>operationVariableFeedback</key>
	<string>stackStructurePressure</string>
	<key>rectDecoratorVelocity</key>
	<string>animatedcontainerBufferOrientation</string>
	<key>streamActivityPressure</key>
	<string>largeConvolutionTop</string>
	<key>tweenWithoutDecorator</key>
	<string>compositionalGestureOpacity</string>
</dict>
</plist>
