<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>draggableZoneTail</key>
	<string>graphPrototypeDirection</string>
	<key>hierarchicalNotifierSkewx</key>
	<string>interactorParamFlags</string>
	<key>injectionAtTask</key>
	<string>directlyStateRight</string>
	<key>keyDialogsRight</key>
	<string>completerSinceScope</string>
	<key>pinchableLoopContrast</key>
	<string>lazyChannelDistance</string>
	<key>resolverFrameworkRotation</key>
	<string>uniformObserverType</string>
	<key>singleLabelRight</key>
	<string>expandedStateRate</string>
	<key>substantialSpotRate</key>
	<string>cursorOutsideDecorator</string>
</dict>
</plist>
