<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completerStyleInset</key>
	<string>requestVisitorDirection</string>
	<key>intermediateTabviewHead</key>
	<string>providerExceptActivity</string>
	<key>intuitiveRouteRotation</key>
	<string>isolateLikeSingleton</string>
	<key>reductionObserverRate</key>
	<string>apertureContextInset</string>
	<key>roleTypeStatus</key>
	<string>assetThanMethod</string>
	<key>techniqueAdapterTheme</key>
	<string>primaryImageMode</string>
	<key>variantBeyondPattern</key>
	<string>plateDespiteContext</string>
</dict>
</plist>
