<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocContainCommand</key>
	<string>frameVersusForm</string>
	<key>desktopLoopState</key>
	<string>appbarStructureCoord</string>
	<key>equalizationOperationRight</key>
	<string>tickerOfContext</string>
	<key>graphPrototypeInset</key>
	<string>secondListenerKind</string>
	<key>groupInSingleton</key>
	<string>synchronousMusicTail</string>
	<key>marginAwaySingleton</key>
	<string>commonAspectratioPressure</string>
	<key>opaqueSceneDensity</key>
	<string>granularResultIndex</string>
	<key>popupAgainstType</key>
	<string>interfaceByPrototype</string>
	<key>zoneVisitorDensity</key>
	<string>equalizationUntilKind</string>
</dict>
</plist>
