<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseViaKind</key>
	<string>similarAspectContrast</string>
	<key>basicChannelShade</key>
	<string>touchAdapterFrequency</string>
	<key>buttonParameterShade</key>
	<string>mediumTickerLeft</string>
	<key>materialDespiteLevel</key>
	<string>offsetOperationMomentum</string>
	<key>segmentBeyondCycle</key>
	<string>containerTaskLocation</string>
	<key>skinProxyCount</key>
	<string>completerPatternHead</string>
	<key>stackScopeSkewx</key>
	<string>streamForVariable</string>
	<key>swiftOfForm</key>
	<string>tabbarStageSkewy</string>
	<key>temporaryOffsetOrientation</key>
	<string>blocByChain</string>
	<key>temporaryThemeVelocity</key>
	<string>completerChainInteraction</string>
</dict>
</plist>
