<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>durationAmongMethod</key>
	<string>effectVisitorVisible</string>
	<key>framePatternPosition</key>
	<string>reducerBridgeOrientation</string>
	<key>grayscaleNearStage</key>
	<string>scrollableWidgetTint</string>
	<key>originalCacheTag</key>
	<string>textParamName</string>
	<key>priorDelegateInterval</key>
	<string>localTimerVelocity</string>
	<key>reductionFromType</key>
	<string>borderWorkBehavior</string>
	<key>sceneVariableDensity</key>
	<string>functionalCurveTail</string>
	<key>segmentAsStyle</key>
	<string>mediumSegueMode</string>
	<key>techniqueSingletonHue</key>
	<string>handlerModeVelocity</string>
	<key>uniformGrayscaleBound</key>
	<string>entityCompositeRate</string>
</dict>
</plist>
