<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedCosineBottom</key>
	<string>modelBeyondDecorator</string>
	<key>cartesianCustompaintHue</key>
	<string>movementTypeState</string>
	<key>curveInterpreterSize</key>
	<string>controllerCommandDistance</string>
</dict>
</plist>
