<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cellOrTask</key>
	<string>gradientJobDelay</string>
	<key>hashCommandTransparency</key>
	<string>localizationAwayPrototype</string>
	<key>resourceObserverKind</key>
	<string>exponentBeyondVariable</string>
	<key>signSingletonState</key>
	<string>prismaticScreenDirection</string>
	<key>sineAgainstEnvironment</key>
	<string>allocatorAsLayer</string>
</dict>
</plist>
