<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleEntropySkewy</key>
	<string>matrixTaskDistance</string>
	<key>chapterAboutCycle</key>
	<string>spriteStyleEdge</string>
	<key>primaryObserverDelay</key>
	<string>significantMatrixOrigin</string>
	<key>textVersusBuffer</key>
	<string>substantialServiceCenter</string>
</dict>
</plist>
