<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelsVersusVariable</key>
	<string>featureAmongForm</string>
	<key>cursorAroundComposite</key>
	<string>mediocreControllerHead</string>
	<key>ephemeralAsyncPressure</key>
	<string>resourceWorkInterval</string>
	<key>segmentParameterTheme</key>
	<string>singleRouterPosition</string>
	<key>segueOperationHue</key>
	<string>accessibleIsolateColor</string>
	<key>smallCaptionStyle</key>
	<string>switchAboutFunction</string>
	<key>sortedStreamPosition</key>
	<string>coordinatorTypeCoord</string>
</dict>
</plist>
