<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>directTableBound</key>
	<string>radiusProcessEdge</string>
	<key>greatExpandedScale</key>
	<string>priorityVisitorInset</string>
	<key>otherMissionEdge</key>
	<string>channelWithoutMethod</string>
	<key>parallelSliderInterval</key>
	<string>lastProfileName</string>
	<key>radiusDespiteShape</key>
	<string>agileEffectOrigin</string>
</dict>
</plist>
