<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedDelegateTint</key>
	<string>commonCosineFeedback</string>
	<key>assetAmongCycle</key>
	<string>immediateBoxshadowScale</string>
	<key>denseLabelAcceleration</key>
	<string>nodeAroundAction</string>
	<key>listviewPatternMargin</key>
	<string>observerBridgeDensity</string>
	<key>normalReducerShape</key>
	<string>routeOperationResponse</string>
	<key>notificationCommandPosition</key>
	<string>titleSingletonFlags</string>
	<key>originalMetadataAppearance</key>
	<string>gradientStrategySpacing</string>
	<key>relationalToolRight</key>
	<string>sinkAmongPlatform</string>
	<key>semanticsProcessStatus</key>
	<string>notifierFrameworkVisible</string>
	<key>significantGraphicFeedback</key>
	<string>customizedInstructionDuration</string>
</dict>
</plist>
