<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxshadowSingletonRotation</key>
	<string>effectVarOffset</string>
	<key>cupertinoBoxshadowVisible</key>
	<string>skinAroundAdapter</string>
	<key>menuPlatformLeft</key>
	<string>directlySpotBottom</string>
	<key>resilientSignPadding</key>
	<string>displayableTaskDirection</string>
</dict>
</plist>
