<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activityPhaseBrightness</key>
	<string>specifierTierRotation</string>
	<key>checkboxValueSkewx</key>
	<string>reductionMethodBottom</string>
	<key>exceptionInsideSystem</key>
	<string>commonConstraintBehavior</string>
	<key>optimizerCommandStatus</key>
	<string>reductionMediatorHue</string>
	<key>typicalSemanticsOrientation</key>
	<string>iconAdapterSpacing</string>
</dict>
</plist>
