<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axisVariableKind</key>
	<string>frameThanTier</string>
	<key>blocCommandDelay</key>
	<string>sceneScopeSkewx</string>
	<key>decorationStageAppearance</key>
	<string>tangentByPhase</string>
	<key>roleFromObserver</key>
	<string>behaviorParameterFlags</string>
	<key>sinkVisitorHue</key>
	<string>stateForLevel</string>
	<key>spotVisitorBehavior</key>
	<string>hashEnvironmentSpacing</string>
</dict>
</plist>
