<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubeContainVar</key>
	<string>animatedTopicShade</string>
	<key>declarativeAsyncTint</key>
	<string>actionSincePattern</string>
	<key>providerTempleDelay</key>
	<string>storeTempleAlignment</string>
	<key>resultExceptKind</key>
	<string>tickerChainMargin</string>
	<key>sliderBeyondPattern</key>
	<string>errorPlatformOrientation</string>
</dict>
</plist>
