<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>directlyCoordinatorDuration</key>
	<string>switchUntilShape</string>
	<key>instructionShapeSpeed</key>
	<string>otherGradientTransparency</string>
	<key>managerDecoratorFeedback</key>
	<string>nativeCaptionDistance</string>
	<key>sliderTaskAppearance</key>
	<string>beginnerChannelsVelocity</string>
	<key>substantialQueryCount</key>
	<string>imperativeChapterPosition</string>
	<key>textureStyleScale</key>
	<string>requestAtMediator</string>
</dict>
</plist>
