<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delegateForStrategy</key>
	<string>factoryBesideJob</string>
	<key>graphOfFramework</key>
	<string>gradientTempleAppearance</string>
	<key>modalValueTag</key>
	<string>queueProxyLeft</string>
	<key>mutableUsecaseVisibility</key>
	<string>sensorFromStrategy</string>
	<key>tweenDespiteStage</key>
	<string>sinkPlatformInset</string>
</dict>
</plist>
