<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>descriptorShapeShade</key>
	<string>sortedInterpolationValidation</string>
	<key>firstDecorationRight</key>
	<string>aspectratioBesideTask</string>
	<key>fixedThreadState</key>
	<string>spineFromSystem</string>
	<key>injectionShapeBrightness</key>
	<string>decorationStageSkewx</string>
	<key>resourceDespiteProcess</key>
	<string>opaqueTouchTint</string>
	<key>smallListenerDepth</key>
	<string>mutableSpotName</string>
	<key>subtleChapterFlags</key>
	<string>keyListenerOpacity</string>
</dict>
</plist>
