<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryObserverHead</key>
	<string>channelOutsideTemple</string>
	<key>fixedSingletonPosition</key>
	<string>bufferInFramework</string>
	<key>inheritedInteractorBrightness</key>
	<string>deferredLayoutSpacing</string>
	<key>nodeAlongFunction</key>
	<string>concurrentSineCount</string>
	<key>otherErrorShape</key>
	<string>documentInsideTemple</string>
	<key>rowOperationTheme</key>
	<string>scaffoldObserverAcceleration</string>
	<key>semanticInterfaceLeft</key>
	<string>textAsComposite</string>
	<key>similarResultDuration</key>
	<string>heapCompositeTransparency</string>
	<key>sinkFrameworkBrightness</key>
	<string>stepIncludeCycle</string>
</dict>
</plist>
