<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveButtonSize</key>
	<string>asynchronousPopupHue</string>
	<key>eventWorkVisibility</key>
	<string>prevRectCount</string>
	<key>listviewBeyondFacade</key>
	<string>globalGraphTint</string>
	<key>protocolVersusProcess</key>
	<string>sharedBufferLocation</string>
	<key>techniqueLevelVisibility</key>
	<string>eventAndVariable</string>
</dict>
</plist>
