<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consultativeDescriptorSpacing</key>
	<string>compositionTempleIndex</string>
	<key>convolutionDecoratorDirection</key>
	<string>storyboardVersusCycle</string>
	<key>equalizationPatternDensity</key>
	<string>resizablePrecisionPosition</string>
	<key>gesturedetectorStructureValidation</key>
	<string>sharedFragmentPosition</string>
	<key>getxDecoratorStyle</key>
	<string>specifyGrainFrequency</string>
	<key>radioSystemOpacity</key>
	<string>configurationThanPattern</string>
	<key>radiusStrategyLeft</key>
	<string>repositorySingletonOffset</string>
	<key>semanticsDuringPattern</key>
	<string>mobileConfigurationTag</string>
	<key>semanticsVersusCommand</key>
	<string>concreteFutureSkewx</string>
	<key>textPerPattern</key>
	<string>taskVariableTension</string>
</dict>
</plist>
