<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>criticalButtonIndex</key>
	<string>concreteIntensityDistance</string>
	<key>heroActivityMode</key>
	<string>constraintLikeJob</string>
	<key>intuitiveTextureForce</key>
	<string>handlerParameterDensity</string>
	<key>modelStrategyScale</key>
	<string>profileThroughTemple</string>
	<key>stateAdapterOffset</key>
	<string>signAndTask</string>
	<key>tensorTimerVisible</key>
	<string>smartZoneStatus</string>
</dict>
</plist>
