<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activityProcessName</key>
	<string>explicitErrorShade</string>
	<key>batchSystemEdge</key>
	<string>overlayFlyweightState</string>
	<key>compositionAboutComposite</key>
	<string>expandedThanComposite</string>
	<key>immediateListviewPadding</key>
	<string>chapterOfParameter</string>
	<key>mainAsyncVisibility</key>
	<string>drawerFunctionTheme</string>
	<key>switchVisitorIndex</key>
	<string>visibleNotifierBorder</string>
	<key>uniformTickerBottom</key>
	<string>callbackAsParam</string>
	<key>workflowThroughComposite</key>
	<string>mutableTransitionForce</string>
</dict>
</plist>
