<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completionForComposite</key>
	<string>platePerComposite</string>
	<key>heroAndWork</key>
	<string>layerBridgeBound</string>
	<key>localizationThroughMemento</key>
	<string>accordionAspectratioDuration</string>
	<key>queryScopeShape</key>
	<string>mobileByKind</string>
	<key>serviceModeDepth</key>
	<string>custompaintExceptLayer</string>
	<key>subtleAllocatorVelocity</key>
	<string>roleKindOrientation</string>
	<key>utilAboutComposite</key>
	<string>diversifiedGesturedetectorStatus</string>
</dict>
</plist>
