<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>catalystThanTier</key>
	<string>chartByPattern</string>
	<key>convolutionLikeValue</key>
	<string>hierarchicalMemberOrientation</string>
	<key>denseSlashSkewy</key>
	<string>typicalStreamState</string>
	<key>futureVisitorOpacity</key>
	<string>invisibleErrorDelay</string>
	<key>requiredUtilBorder</key>
	<string>dependencyNumberType</string>
	<key>resultActivityDirection</key>
	<string>materialThreadHue</string>
	<key>statefulCycleEdge</key>
	<string>intermediateLossBound</string>
	<key>transitionStageVisible</key>
	<string>requestInsideFacade</string>
	<key>widgetWithCommand</key>
	<string>statefulCanvasDirection</string>
</dict>
</plist>
