<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>decorationValueBehavior</key>
	<string>protectedBlocShade</string>
	<key>flexibleSizeShape</key>
	<string>easyMatrixRotation</string>
	<key>grainAroundBuffer</key>
	<string>cycleFrameworkDepth</string>
	<key>histogramCommandInteraction</key>
	<string>compositionalInterpolationMode</string>
	<key>menuAmongForm</key>
	<string>intensityContainJob</string>
	<key>mutableTechniqueMomentum</key>
	<string>crudeFeatureInterval</string>
	<key>overlayValueTint</key>
	<string>sinkLikeValue</string>
	<key>robustQueueSkewy</key>
	<string>pageviewVarEdge</string>
</dict>
</plist>
