<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completerPhaseRight</key>
	<string>elasticDurationTag</string>
	<key>criticalNodeInterval</key>
	<string>vectorSystemSpacing</string>
	<key>cubeDespiteJob</key>
	<string>textfieldFlyweightDistance</string>
	<key>errorEnvironmentState</key>
	<string>secondTextfieldColor</string>
	<key>frameTaskTheme</key>
	<string>symmetricCupertinoInset</string>
	<key>interpolationTempleDepth</key>
	<string>reducerVarShape</string>
	<key>playbackAgainstLayer</key>
	<string>synchronousCubeStatus</string>
	<key>providerBesideShape</key>
	<string>pivotalPopupTint</string>
	<key>responsiveFrameVisibility</key>
	<string>matrixVersusType</string>
	<key>subsequentCardCount</key>
	<string>easyOperationFlags</string>
</dict>
</plist>
