<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetOutsideType</key>
	<string>instructionStyleRate</string>
	<key>chartExceptInterpreter</key>
	<string>fusedMonsterSpacing</string>
	<key>concurrentAnimatedcontainerColor</key>
	<string>newestCallbackType</string>
	<key>cubitAwayCommand</key>
	<string>commandThroughSystem</string>
	<key>groupStructureState</key>
	<string>texturePhasePadding</string>
	<key>histogramAwayJob</key>
	<string>layoutChainCoord</string>
	<key>lossActivityFlags</key>
	<string>constScrollVelocity</string>
	<key>mainInterpolationRight</key>
	<string>comprehensiveOverlayValidation</string>
	<key>normalProviderInterval</key>
	<string>builderStrategyBottom</string>
	<key>statelessCompositeBorder</key>
	<string>modulusThanStructure</string>
</dict>
</plist>
