<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryAboutValue</key>
	<string>lazyBuilderColor</string>
	<key>curveModeHead</key>
	<string>entityVarFormat</string>
	<key>ephemeralPrecisionAppearance</key>
	<string>certificateAboutVar</string>
	<key>gradientActionIndex</key>
	<string>stampThroughContext</string>
	<key>integerFormShade</key>
	<string>viewVersusVariable</string>
	<key>modalOrInterpreter</key>
	<string>directPainterAcceleration</string>
	<key>reducerOperationFormat</key>
	<string>alphaAgainstCommand</string>
	<key>uniqueConstraintSize</key>
	<string>navigationAsMemento</string>
</dict>
</plist>
