<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoMovementHead</key>
	<string>offsetActivityDensity</string>
	<key>decorationJobVisibility</key>
	<string>invisibleModelDistance</string>
	<key>independentProviderTop</key>
	<string>getxOfPattern</string>
	<key>promiseSystemStyle</key>
	<string>inactiveRadiusMode</string>
	<key>sensorCommandMomentum</key>
	<string>textureThroughOperation</string>
</dict>
</plist>
