<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedBoxshadowShade</key>
	<string>sortedGrainContrast</string>
	<key>directlyAlphaStatus</key>
	<string>baselineSinceMediator</string>
	<key>localAspectFrequency</key>
	<string>tweenThroughSystem</string>
	<key>nativeGatePosition</key>
	<string>usedInterfaceAlignment</string>
	<key>otherPetDistance</key>
	<string>particleParameterTag</string>
	<key>popupCycleResponse</key>
	<string>taskAsPlatform</string>
	<key>progressbarCyclePosition</key>
	<string>keyChapterBrightness</string>
</dict>
</plist>
