<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capsuleSinceStructure</key>
	<string>animatedcontainerInDecorator</string>
	<key>imageFromTask</key>
	<string>extensionJobInset</string>
	<key>momentumWithProcess</key>
	<string>concreteMemberTheme</string>
	<key>relationalRowBound</key>
	<string>subscriptionAroundBridge</string>
	<key>respectiveLossVisible</key>
	<string>normalDialogsTension</string>
	<key>sharedTextDirection</key>
	<string>invisibleVariantForce</string>
	<key>smallFeatureDensity</key>
	<string>tweenOutsideOperation</string>
	<key>sophisticatedRequestSkewy</key>
	<string>callbackWorkContrast</string>
	<key>stepBeyondSingleton</key>
	<string>declarativeRepositoryScale</string>
</dict>
</plist>
