<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioAmongFramework</key>
	<string>previewPrototypeOrigin</string>
	<key>explicitExpandedDuration</key>
	<string>interactiveStoreTension</string>
	<key>localizationBeyondPhase</key>
	<string>allocatorProxyShape</string>
	<key>rectCommandFormat</key>
	<string>dialogsKindTag</string>
	<key>rectThroughInterpreter</key>
	<string>captionWithoutActivity</string>
	<key>resolverMediatorBehavior</key>
	<string>columnPhaseAlignment</string>
	<key>utilAndTemple</key>
	<string>precisionAdapterBrightness</string>
</dict>
</plist>
